$background: #d0d0d0;
$foreground: #161616;
$cursor: #373737;

$selection_background: #0f62fe;
$selection_foreground: #f2f2f2;

$color0: #525252;
$color1: #ee5396;
$color2: #42be65;
$color3: #ffab91;
$color4: #0f62fe;
$color5: #be95ff;
$color6: #08bdba;
$color7: #ffffff;
$color8: #161616;
$color9: #ff7eb6;
$color10: #42be65;
$color11: #ffab91;
$color12: #0f62fe;
$color13: #673ab7;
$color14: #08bdba;
$color15: #d0d0d0;

$base00: #161616;
$base01: #262626;
$base02: #393939;
$base03: #525252;
$base04: #dde1e6;
$base05: #f2f4f8;
$base06: #ffffff;
$base07: #08bdba;
$base08: #3ddbd9;
$base09: #78a9ff;
$base0A: #ee5396;
$base0B: #33b1ff;
$base0C: #ff7eb6;
$base0D: #42be65;
$base0E: #be95ff;
$base0F: #82cfff;