@import "./reset.scss";
@import "./colors.scss";
@import url("https://use.typekit.net/ynw2dfe.css");

$fontRegular: polymath, sans-serif;
$fontText: polymath-text, sans-serif;
$fontTitle: polymath-display, sans-serif;

:root {
  font-family: polymath, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 700;
}

.h2 {
  font-size: 1.6em;
  line-height: 1.1;
  font-weight: 500;
}

input {
  font-family: $fontRegular;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;

  margin: 0;
  padding: 0;
}

label {
  font-family: $fontRegular;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.5;

  margin: 0;
  padding: 0;
}
