@import '/src/style/index.scss';


.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: $color0;
    padding: 0.5rem;
}

.container .item {
    width: 10rem;
    background-color: $selection_background;
    padding: 0.25rem 1rem;
    margin: 0.25rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.container .item .label {
    color: $selection_foreground;
    margin: 0;
    font: {
        family: $fontTitle;
        weight: 500;
        style: normal;
    }
    text: {
        align: center;
        transform: capitalize;
        -webkit-transform: capitalize;
        -moz-transform: capitalize;
        -ms-transform: capitalize;
        -o-transform: capitalize;

        overflow: hidden;
    }

    letter-spacing: 0.2rem;
}